@import('reset.css');

html {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 16px;
  color: #fff;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
  background: linear-gradient(-45deg, #ba7074, #d9c0dd, #f8f4b6, #b9bc1c);
  background-size: 800% 800%;
  background-attachment: fixed;

  -webkit-animation: GradientAnimation 20s ease infinite;
  -moz-animation: GradientAnimation 20s ease infinite;
  animation: GradientAnimation 20s ease infinite;
}
@-webkit-keyframes GradientAnimation {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@keyframes GradientAnimation { 
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

a {
  font-weight: normal;
  color: #fff;
}
sup {
  font-size: 50%;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body > div {
  display: inline-block;
  border-radius: 5px;
  background: rgba(0,234,244,0.8);
  line-height: 1.25rem;
}
body > div > img {
  height: 1em;
}
.handle {
  display: block;
  border-bottom: 1px solid #fff;
  cursor: move;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.handle > img {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
}


.BC18_tagline > img {
  padding: 19px 33px;
  height: 26px;
}
.aiganebraska > img {
  padding: 28px 33px;
  height: 115px;
}
.BC18_logo_a {
  z-index: 1;
}
.BC18_logo_a > img {
  height: 180px;
  padding: 25px 63px;
}
.BC18_logo_b_18 {
  background: url('img/18_bg.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
.BC18_logo_b_18 > img {
  padding: 104px 95.5px;
  height: 178px;
}
.BC18_logo_b_bc {
  background: url('img/bc_bg.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
.BC18_logo_b_bc > img {
  padding: 105px 74px;
  height: 177px;
}
.BC18_date {
  text-align: center;
  font-size: 14px;
  letter-spacing: .15em;
}
.BC18_date > p {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 29.5px;
  padding-left: 29.5px;
}
.BC18_date > img {
  height: 28px;
  padding-bottom: 20px;
  padding-right: 29.5px;
  padding-left: 29.5px;
}
.note, .past_websites {
  letter-spacing: .15rem;
}
.note p:nth-of-type(2) {
  padding: 1rem 0;
}
.note > div {
  padding: 23px;
}
.past_websites p {
  padding: 17px 13px 1rem 13px;
}
.past_websites ul {
  padding: 0 13px 13px 13px;
}
.moved {
  right: auto !important;
}

@media all and (max-width: 768px) {
  html {
    overflow: auto;
  }
  .handle {
    cursor: default;
    height: 18px;
    line-height: 18px;
  }
  .handle > img {
    height: 12px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  body > div {
    position: static;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .BC18_logo_b_bc,
  .BC18_logo_b_18,
  .BC18_logo_a + .aiganebraska {
    display: none;
  }
  .BC18_logo_a {
    text-align: center;
  }
  .BC18_logo_a > img {
    padding: 5% 0;
    width: 90%;
  }
  .aiganebraska {
    order: 9;
    text-align: center;
  }
  .BC18_tagline {
    text-align: center;
  }
}