@import('reset.css');

@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-BoldItalic.woff2') format('woff2'),
        url('fonts/MADSansFill-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-Regular.woff2') format('woff2'),
        url('fonts/MADSansFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-Regular.woff2') format('woff2'),
        url('fonts/MADSansFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-BoldItalic.woff2') format('woff2'),
        url('fonts/MADSansFill-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-BoldItalic.woff2') format('woff2'),
        url('fonts/MADSansFill-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-Regular.woff2') format('woff2'),
        url('fonts/MADSansFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html {
  font-family: 'MAD Sans Fill', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #001718;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
a {
  font-weight: normal;
  color: #001718;
  text-decoration: none;
}
sup {
  font-size: 50%;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drag {
  display: inline-block;
  background: rgba(0,234,244,0.8);
}
.dot {
  float: left;
  font-size: 30px;
  padding-left: 6px;
  padding-top: 1px;
}
.handle {
  display: block;
  border-bottom: 0.5px solid #001718;
  cursor: move;
  height: 18px;
  line-height: 18px;

  font-family: 'MAD Sans Fill', sans-serif;
  text-align: center;
  font-size: 16px;
}
.handle > img {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
}
.moved {
  right: auto !important;
}
.mobile-only {
  display: none;
}




.notes {
  display: inline-block;
  border-radius: 5px;
  line-height: 1.25rem;
  font-weight: normal;
}
.notes li {
  font-size: 18px;
}
.notes ul {
  padding: 71px 93px 71px 31px;
  background: url('img/notes_bg.svg') 83% center no-repeat;
  background-size: 6px 166px;
}


.about {
  display: inline-block;
  background: rgba(0,234,244,0.8) url('img/about-bg2.svg') no-repeat;
  background-size: cover;
  padding: 31px 18px 16px 24px;
}
.about > img {
  width: 201px;
  padding-bottom: 75px;
}


.extras li,
.tracks li {
  display: inline-block;
  width: 105px;
  text-align: center;
}
.extras li img,
.tracks li img {
  width: 105px;
}


.tray {
  position: fixed;
  width: 95%;
  bottom: 0;
  left: 2.5%;
  background: url('img/tray-bg.svg') no-repeat center top;
  padding-top: 82px;
  text-align: center;
  background-size: cover;
}
.tray > img {
  width: 290px;
}
.tray .wifi img {
  width: 31px;
}
.tray .search img {
  width: 27px;
}
.tray .folders li {
  width: 90px;
  display: inline-block;
  margin: 0 21px;
  font-size: 16px;
}
.tray .folders img {
  width: 90px;
  padding-bottom: 5px;
}
.tray .apps li {
  background: #00EAF4;
  border-radius: 5px;
  display: inline-block;
  padding: 9px 7px;
  font-size: 18px;
}


@media all and (max-width: 768px) {
  .mobile-only {
    display: inherit;
  }
  .row {
    flex-direction: row;
    background: none;
  }
  .row > div {
    flex-grow: 1;
    margin: 0 2.5px;
    border-radius: 5px;
    background: rgba(0,234,244,0.8);
  }
  html {
    overflow: auto;
  }
  .handle {
    cursor: default;
    height: 18px;
    line-height: 18px;
  }
  .handle > img {
    height: 12px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  body > div {
    position: static;
    overflow: hidden;
    margin-bottom: 5px;
  }

}