@import('reset.css');

@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-BoldItalic.woff2') format('woff2'),
        url('fonts/MADSansFill-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-Regular.woff2') format('woff2'),
        url('fonts/MADSansFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-Regular.woff2') format('woff2'),
        url('fonts/MADSansFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-BoldItalic.woff2') format('woff2'),
        url('fonts/MADSansFill-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-BoldItalic.woff2') format('woff2'),
        url('fonts/MADSansFill-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MAD Sans Fill';
    src: url('fonts/MADSansFill-Regular.woff2') format('woff2'),
        url('fonts/MADSansFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes movein {
  from {bottom: -100%;}
  to {bottom: 0;}
}


html {
  font-family: 'MAD Sans Fill', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #001718;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
a {
  font-weight: normal;
  color: #001718;
  text-decoration: none;
  cursor: pointer;
}
sup {
  font-size: 50%;
}
p, h3 {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drag, .nodrag {
  display: inline-block;
  border-radius: 5px;
  background: rgba(0,213,222,0.95);
  padding-top: 19px;
  position: absolute;
}
.dot {
  float: left;
  font-size: 30px;
  padding-left: 6px;
  padding-top: 1px;
}
.handle, .nohandle {
  border-bottom: 1px solid #001718;
  cursor: move;
  height: 18px;
  line-height: 18px;
  font-family: 'MAD Sans Fill', sans-serif;
  text-align: center;
  font-size: 16px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.nohandle {
  cursor: default;
}
.handle > img {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
}
.mobile-only {
  display: none;
}


.hidden {
  opacity: 0;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}


.sleep {
  background: url('img/sleep.svg') center bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -150%;
  left: 0;
  z-index: 9999;
  transition: top 2s ease-in-out;
}


.notes {
  line-height: 1.25rem;
  font-weight: normal;
  display: flex;
  max-height: 350px;
  max-width: 600px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px 31px;
}
.notes .active a,
.notes .active + li {
  font-weight: bold;
}
.notes img {
  width: 7px;
}
.notes p {
  margin-top: 1em;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 16px;
}
.notes > div {
  flex-basis: 320px;
  overflow-y: scroll;
}
.notes > ul {
  padding-top: 71px;
}
.notes li {
  font-size: 18px;
}


.about {
  display: inline-block;
  background: url('img/about-bg2.svg') no-repeat;
  background-size: cover;
  padding: 31px 18px 16px 24px;
}
.about > img {
  width: 201px;
  padding-bottom: 75px;
}

.extras,
.tracks {
  width: 329px;
  box-sizing: border-box;
  padding: 38px 47px 30px 50px;
}
.extras ul,
.tracks ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.tracks li:nth-child(n+3),
.extras li:nth-child(n+3) {
  padding-top: 25px;
}
.extras li,
.tracks li {
  display: inline-block;
  width: 105px;
  text-align: center;
}
.extras li img,
.tracks li img {
  width: 105px;
  margin-bottom: 8px;
}


.track {
  width: 250px;
}
.track > div {
  margin-left: 37px;
}
.track img {
  width: 167px;
  border-radius: 0 0 5px 5px;
  display: block;
}
.track h3,
.tray h3 {
  text-transform: uppercase;
  font-family: 'MAD Sans Fill';
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  padding-top: 130px;
  padding-left: 37px;
}
.track p {
  font-family: 'Inconsolata';
  font-weight: normal;
  line-height: 19.2px;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 25px;
  padding-right: 28px;
  padding-left: 37px;
}


.tray {
  position: fixed;
  bottom: 0;
  background: url('img/tray-bg.svg') no-repeat center top;
  background-size: cover;
  padding-top: 70px;
  padding-left: 50px;
  width: 800px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  animation: movein 1.5s ease-in-out;
  animation-iteration-count: 1;
}
.tray h3 {
  padding: 1em 0;
}
.tray .register {
  display: block;
  background: #ff243e;
  border-radius: 5px;
  padding: 9px 7px;
  font-size: 18px;
  width: 130px;
  margin: 1em auto 0 auto;
}
.tray > img {
  width: 290px;
  margin-left: 15px;
}
.tray .top {
  text-align: right;
  line-height: 24px;
  height: 24px;
  position: absolute;
  top: 90px;
  left: 9%;
  right: 9%;
  width: 82%;
}
.tray .left {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.tray .right {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
.tray .right a {
  display: block;
}
.tray .top > div {
  display: inline-block;
  vertical-align: middle;
}
.tray .search {
  margin-right: 18px;
}
.tray .wifi img {
  width: 31px;
}
.tray .search img {
  width: 27px;
}
.tray .folders li {
  width: 90px;
  display: inline-block;
  margin: 0 21px;
  font-size: 16px;
}
.tray .folders svg {
  /*width: 90px;*/
  padding-bottom: 5px;
}
.folders .technology svg .a {
  fill: #F5DADF;
}
.folders .entrepreneur svg .a {
  fill: #FFA3B5;
}
.folders .creative svg .a {
  fill: #F9B5C4;
}
.folders .kitchensink svg .a {
  fill: #F59BBB;
}
.tray .apps {
  padding-top: 35px;
}
.tray .links {
  padding: 1em 0;
}
.tray .links li {
  display: inline-block;
}
.tray .links a {
  text-decoration: underline;
}
.tray .apps li {
  background: #00EAF4;
  border-radius: 5px;
  display: inline-block;
  padding: 9px 7px;
  font-size: 18px;
}




.icon .a {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
.icon .b {
  font-size: 21px;
  font-family: 'MAD Sans Fill';
  font-weight: 700;
  font-style: italic;
}
.icon .c {
  fill: #10253e;
}


@media all and (max-width: 768px) {
  .mobile-only {
    display: inherit;
  }
  .row {
    flex-direction: row;
    background: none;
  }
  .row > div {
    flex-grow: 1;
    margin: 0 2.5px;
    border-radius: 5px;
    background: rgba(0,213,222,0.95);
  }
  html {
    overflow: auto;
  }
  .handle {
    cursor: default;
    height: 18px;
    line-height: 18px;
  }
  .handle > img {
    height: 12px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  body > div {
    position: static;
    overflow: hidden;
    margin-bottom: 5px;
  }

}